.element-headphones-mobile {
  background-color: #ffffff;
  width: 100%;
  min-width: 375px;
  min-height: 4860px;
  position: relative;
}

.element-headphones-mobile .part-footer {
  position: absolute;
  top: 4611px;
  left: 0;
  width: 375px;
  height: 249px;
  overflow: hidden;
}

.element-headphones-mobile .background {
  position: absolute;
  width: 100.53%;
  height: 100.80%;
  top: 0;
  left: 0;
  background-color: #071629;
}

.element-headphones-mobile .text-wrapper {
  position: absolute;
  width: 26.13%;
  top: calc(50.00% + 76px);
  left: 37.07%;
  opacity: 0.35;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .logo {
  position: absolute;
  width: 43.20%;
  height: 12.85%;
  top: 19.28%;
  left: 28.53%;
}

.element-headphones-mobile .div {
  position: absolute;
  width: 71.60%;
  top: calc(50.00% - 9px);
  left: 28.40%;
  font-family: "SpinCycleOT-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element-headphones-mobile .group {
  position: absolute;
  width: 19.75%;
  height: 100%;
  top: 0;
  left: 0;
}

.element-headphones-mobile .polygon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.element-headphones-mobile .img {
  position: absolute;
  width: 62.50%;
  height: 62.50%;
  top: 14.89%;
  left: 16.61%;
}

.element-headphones-mobile .polygon-2 {
  position: absolute;
  width: 25.00%;
  height: 25.00%;
  top: 37.50%;
  left: 38.11%;
}

.element-headphones-mobile .social-icons {
  position: absolute;
  width: 130px;
  height: 30px;
  top: 125px;
  left: 123px;
}

.element-headphones-mobile .instagram {
  position: absolute;
  width: 23.08%;
  height: 100%;
  top: 0;
  left: 76.92%;
}

.element-headphones-mobile .auto-flex {
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  min-width: 80px;
  gap: 20px;
}

.element-headphones-mobile .img-2 {
  width: 30px;
  height: 30px;
}

.element-headphones-mobile .part-contact-us {
  position: absolute;
  top: 4108px;
  left: 20px;
  width: 335px;
  height: 373px;
}

.element-headphones-mobile .text-wrapper-2 {
  position: absolute;
  width: 43.58%;
  top: calc(50.00% - 186px);
  left: 28.06%;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .input {
  position: absolute;
  width: 100%;
  height: 7.77%;
  top: 25.74%;
  left: 0;
  overflow: hidden;
}

.element-headphones-mobile .text-wrapper-3 {
  position: absolute;
  width: 10.75%;
  top: calc(50.00% - 14px);
  left: 0;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .rectangle {
  position: absolute;
  width: 100.60%;
  height: 10.34%;
  top: 93.10%;
  left: 0;
  background-color: #071629;
  opacity: 0.17;
}

.element-headphones-mobile .input-2 {
  position: absolute;
  width: 100%;
  height: 7.77%;
  top: 45.58%;
  left: 0;
  overflow: hidden;
}

.element-headphones-mobile .text-wrapper-4 {
  position: absolute;
  width: 10.45%;
  top: calc(50.00% - 14px);
  left: 0;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .input-3 {
  position: absolute;
  width: 100%;
  height: 7.77%;
  top: 65.42%;
  left: 0;
  overflow: hidden;
}

.element-headphones-mobile .text-wrapper-5 {
  position: absolute;
  width: 24.78%;
  top: calc(50.00% - 14px);
  left: 0;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .button {
  width: 48.36%;
  height: 11.80%;
  top: 88.20%;
  left: 25.67%;
  position: absolute;
  overflow: hidden;
}

.element-headphones-mobile .button-background {
  position: absolute;
  width: 101.23%;
  height: 104.55%;
  top: -2.27%;
  left: 0;
  background-color: #ff6565;
  border-radius: 22px;
}

.element-headphones-mobile .text-wrapper-6 {
  position: absolute;
  width: 61.73%;
  top: calc(50.00% - 9px);
  left: 19.14%;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .part-dark {
  position: absolute;
  top: 2507px;
  left: 0;
  width: 375px;
  height: 1491px;
  background-image: url(./img/background.png);
  background-size: 100% 100%;
}

.element-headphones-mobile .our-results-speak-fo {
  position: absolute;
  width: 70.93%;
  top: calc(50.00% - 620px);
  left: 14.93%;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .lorem-ipsum-dolor-si {
  position: absolute;
  width: 81.33%;
  top: calc(50.00% - 494px);
  left: 9.60%;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .dot {
  position: absolute;
  width: 50.67%;
  height: 12.74%;
  top: 35.95%;
  left: 24.80%;
}

.element-headphones-mobile .polygon-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 2.45%;
}

.element-headphones-mobile .group-2 {
  position: absolute;
  width: 58.95%;
  height: 37.89%;
  top: 36.84%;
  left: 20.53%;
}

.element-headphones-mobile .text-wrapper-7 {
  width: 99.11%;
  top: calc(50.00% + 10px);
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .text-wrapper-8 {
  position: absolute;
  width: 79.46%;
  top: calc(50.00% - 36px);
  left: 10.71%;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.element-headphones-mobile .dot-2 {
  position: absolute;
  width: 50.67%;
  height: 12.74%;
  top: 51.51%;
  left: 24.80%;
}

.element-headphones-mobile .dot-3 {
  position: absolute;
  width: 50.67%;
  height: 12.74%;
  top: 67.07%;
  left: 24.80%;
}

.element-headphones-mobile .dot-4 {
  position: absolute;
  width: 50.67%;
  height: 12.74%;
  top: 82.63%;
  left: 24.80%;
}

.element-headphones-mobile .part-icons {
  position: absolute;
  top: 1377px;
  left: 84px;
  width: 207px;
  height: 1020px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.element-headphones-mobile .ic {
  height: 180px;
  position: relative;
}

.element-headphones-mobile .p {
  top: calc(50.00% + 38px);
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #071629;
  font-size: 14px;
  line-height: 26px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  letter-spacing: 0;
}

.element-headphones-mobile .text-wrapper-9 {
  position: absolute;
  width: 100%;
  top: calc(50.00% - 1px);
  left: 0;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .sound-frequency {
  position: absolute;
  width: 45.51%;
  height: 36.31%;
  top: 0;
  left: 27.05%;
}

.element-headphones-mobile .ic-2 {
  height: 193px;
  position: relative;
}

.element-headphones-mobile .lorem-ipsum-dolor-si-2 {
  width: 100%;
  top: calc(50.00% + 44px);
  left: 0;
  color: #071629;
  font-size: 14px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .text-wrapper-10 {
  width: 100%;
  top: calc(50.00% + 6px);
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 18px;
  position: absolute;
  left: 0;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .video {
  position: absolute;
  width: 32.65%;
  height: 39.79%;
  top: 0;
  left: 34.78%;
}

.element-headphones-mobile .ic-3 {
  height: 179px;
  position: relative;
}

.element-headphones-mobile .text-wrapper-11 {
  width: 100%;
  top: calc(50.00% - 2px);
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 18px;
  position: absolute;
  left: 0;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .music {
  position: absolute;
  width: 24.96%;
  height: 31.99%;
  top: 0;
  left: 37.68%;
}

.element-headphones-mobile .hearing {
  position: absolute;
  width: 29.68%;
  height: 34.13%;
  top: 0;
  left: 35.75%;
}

.element-headphones-mobile .part-what-we-do {
  position: absolute;
  top: 979px;
  left: 25px;
  width: 325px;
  height: 288px;
}

.element-headphones-mobile .text-wrapper-12 {
  position: absolute;
  width: 58.46%;
  top: calc(50.00% - 144px);
  left: 20.92%;
  font-family: "Source Sans Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #071629;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .lorem-ipsum-dolor-si-3 {
  width: 100%;
  top: calc(50.00% - 64px);
  left: 0;
  color: #071629;
  font-size: 16px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .main-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 869px;
  display: flex;
  background-image: url(./img/image.png);
  background-size: 100% 100%;
}

.element-headphones-mobile .text {
  margin-top: 327px;
  width: 357px;
  height: 436px;
  margin-left: 9px;
  position: relative;
}

.element-headphones-mobile .lorem-ipsum-dolor-se {
  top: calc(50.00% - 218px);
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  letter-spacing: 0;
}

.element-headphones-mobile .lorem-ipsum-dolor-se-2 {
  position: absolute;
  width: 78.15%;
  top: calc(50.00% - 133px);
  left: 10.92%;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-headphones-mobile .lorem-ipsum-dolor-si-4 {
  width: 93.84%;
  top: calc(50.00% + 36px);
  left: 3.08%;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.element-headphones-mobile .button-2 {
  width: 45.38%;
  height: 10.09%;
  top: 33.26%;
  left: 27.17%;
  position: absolute;
  overflow: hidden;
}

.element-headphones-mobile .button-background-2 {
  box-shadow: 0px 2px 20px #00000080;
  position: absolute;
  width: 101.23%;
  height: 104.55%;
  top: -2.27%;
  left: 0;
  background-color: #ff6565;
  border-radius: 22px;
}

.element-headphones-mobile .header {
  position: absolute;
  width: 247px;
  height: 32px;
  top: 29px;
  left: 21px;
}
